@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

:root {
	--color-background: #1e1e1e;
	--color-text-default: #fff;
	--color-text-autofill: #888f95;
	--color-title-icon: #63E6BE;
	--color-tab-active: #198754;
	--color-link-auxiliar: #6c7a6e;
	--color-social-border: #ddd;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	background: var(--color-background) !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

section {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 55% 45%;
	align-items: center;
}

form {
	width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
	font-weight: bold;
	color: var(--color-text-default);
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
	color: var(--color-text-default);
}

a {
	font-size: 14px;
	color: var(--color-text-default);
	text-decoration: none;
	margin: 15px 0;
}

label {
	width: 2rem;
}
input {
	width: 100%;
}

input[type=text],
input[type=email],
input[type=password] {
	text-align: center;
	background: transparent;
	border: none;
	font-family: 'PLay', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: var(--color-text-default);
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:enabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	border: none;
	box-shadow: 0 0 0 1000px var(--color-background) inset;
	-webkit-text-fill-color: var(--color-text-autofill) !important;
}

button,
button[type=submit] {
	width: 100%;
	max-width: 300px;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button,
button[type=submit]:active {
	transform: scale(0.95);
}

button,
button[type=submit]:focus {
	outline: none;
}

button,
button[type=submit].ghost {
	background: transparent;
}


/* CLASSES ESTILIZADAS */

.bg {
	grid-area: 1 / 1;
	height: 100%;
	width: 100%;
	background: url('/images/background.jpg') center center no-repeat !important;
	background-size: 100% !important;
	background-position-y: 30% !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.panel {
	grid-area: 1 / 2;
	height: 85%;
	width: 100%;
	background: var(--color-background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 0 1rem;
	overflow: hidden;
}

.footer {
	position: relative;
	color: var(--color-text-default);
	text-align: center;
	font-size: .9rem;
	margin: 0;
	padding-bottom: 2rem !important;
}

.footer-text {
	font-family: "Inter", sans-serif;
	color: var(--color-text-default);
	text-align: center;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .2px;
}

.login-title {
	color: var(--color-text-default);
	text-align: center;
	font-size: 3rem;
	margin-top: 1.3rem;
	margin-bottom: 4rem;
}

.login-title i {
	margin-right: 1rem;
	color: var(--color-title-icon);
;
}

.tab-content {
	height: 90%;
}

.tab-content>.active {
	height: 100%;
	width: 100%;
	display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-link {
	font-weight: 700 !important;
	color: var(--color-text-default) !important;
}

.nav-link.active {
	font-weight: 1000 !important;
	color: var(--color-tab-active) !important;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
	border-bottom: 1.5px solid var(--color-text-default);
	transition: all 0.3s ease-in-out;
}

.form-group:focus-within {
	font-size: 1.3rem;
	color: var(--color-tab-active);
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-align: end;
    font-size: 0.9em;
    color: var(--color-link-auxiliar);
	margin: 0;
}

.register-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-align: center;
	margin-top: 20px;
    font-size: 0.9em;
    color: var(--color-link-auxiliar);
	margin: 0;
}

.reset-password a,
.register-link a {
	font-size: 0.8rem;
	font-weight: bold;
	text-decoration: none;
}

.container-social {
	margin: 20px 0;
}

.container-social a {
	border: 1px solid var(--color-social-border);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


@media (max-width: 768px) {
	body {
		height: 92vh;
	}

	section {
		grid-template-columns: none;
		grid-template-rows: 80% 20%;
	}

	form {
		width: 85%;
	}

	.panel {
		grid-area: 1 / 1;
		height: 100%;
	}

	.bg {
		grid-area: 2 / 1;
	}

	.login-title {
		font-size: 2.5rem;
		margin-bottom: 2rem;
	}

	.reset-password,
	.register-link,
	.reset-password a,
	.register-link a {
		font-size: 0.7rem;
	}
}